
.status {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
  color: #2d3748;
  display: inline-block;
  font-size: 13px;
  margin: 0 10px 2px 0;
  padding: 2px 12px;
  white-space: nowrap;
}

.status-passing {
  background-color: #ccf5e9;
  border-color: #ccf5e9;
  color: #00291d;
}

.status-failing {
  background-color: #ffeff0;
  border-color: #ffeff0;
  color: #cb1010;
}

.tick {
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 6%);
  color: #2d3748;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px;
  white-space: nowrap;
}
.tick i {
  color: #00a879!important;
  font-size: 1.2em;
}
.notick {
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 6%);
  color: #2d3748;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 10px;
  white-space: nowrap;
}
.notick i {
  color: #4e5a57!important;
  font-size: 1.2em;
}

.comment-single {
  display: flex;
  margin-bottom: 20px;
}
.comment-author-avatar {
  margin: 0 10px 0 0;
}
.comment-details {
  background-color: #f7fafc;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  flex: 1;
  padding: 20px;
}

.box-fail, .box-pass, .box-unknown, .box-warning {
  background-color: #a0aec0;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 280%;
  padding: 15px 20px;
  text-transform: uppercase;
}
.box-fail {
  background-color: #cb1010;
}
.box-pass {
  background-color: #00a879;
}
.rounded-right {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.rounded-left {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.steps-right {
  position: absolute;
  right: 1px;
}

.fa-fw {
  text-align: center;
  width: 1.28571429em;
}
.step-display .step-action i {
  color: #718096;
}
.step-display .step-action {
  font-weight: 500;
  line-height: 2em;
  vertical-align: middle;
}
.step-display {
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;
}
.step-display li.pass {
  background-color: #fff;
  border-color: #00a879;
  box-shadow: 0 5px 5px rgb(0 0 0 / 6%);
  color: #2d3748;
}
.step-display li.fail {
  background-color: #fff;
  border-color: #f44;
  box-shadow: 0 5px 5px rgb(0 0 0 / 6%);
  color: #2d3748;
}
.step-display li.fail:not(.optional):not(.accessibility) {
  border-bottom: 2px solid #f44;
  border-right: 2px solid #f44;
  border-top: 2px solid #f44;
}
.step-display li {
  background-color: #f7fafc;
  border-bottom-right-radius: 8px;
  border-left: 4px solid #cbd5e0;
  border-top-right-radius: 8px;
  color: #718096;
  display: flex;
  margin: 10px 0 0;
}
.step-action i {
  padding-right: 5px;
}
.step-display li.pass .step-num {
  background-color: #f2fffb;
  color: #718096;
}
.step-display li.fail .step-num i {
  color: #f44;
}
.step-display .step-num {
  color: #718096;
  flex: 0 0 auto;
  font-size: 16px;
  font-weight: 500;
  min-height: 54px;
  padding: 10px 8px 10px 4px;
  text-align: center;
  width: 70px;
}
.step-display .step-main {
  flex: 1 1 auto;
  min-width: 0;
  padding: 12px 15px;
}
.step-display .step-action {
  font-weight: 500;
  line-height: 2em;
  vertical-align: middle;
}
.result-steps .step-details {
  color: #718096;
  font-size: 13px;
  margin-top: 10px;
}
.action-element, .step-display .action-value {
  word-wrap: break-word;
  background-color: #edf2f7;
  border-radius: 4px;
  font-family: Roboto Mono,Menlo,Monaco,Consolas,Courier New,monospace;
  font-size: 13px;
  font-weight: 400;
  margin: 0 2px;
  padding: 3px 8px;
  white-space: pre-wrap;
  word-break: break-all;
}
.result-steps .step-url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.result-steps .step-edit, .result-steps .step-time {
  padding-left: 20px;
  text-align: right;
}

.step-display .step-notes {
  color: #ae6205;
  font-size: 13px;
  margin: 15px;
}
.result-steps .step-details {
  color: #718096;
  font-size: 13px;
  margin-top: 10px;
}

.split-layout {
  background-color: #f1f1f1;
  display: flex;
  max-width: 100%;
}

.box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 6%);
  display: block;
  margin-bottom: 10px;
}
.box-header {
  background-color: #f1f1f1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #718096;
  display: block;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 150%;
  padding: 14px 20px;
  text-transform: uppercase;
}

.image-container , .video , .views-field-field-video{
  text-align: center;
}

.comment.comment-outline {
  padding: 8px 20px;
}
.comment-outline {
  background-color: transparent;
  border: 2px solid #cbd5e0;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  outline: 0!important;
}
.comment, .greenbutton {
  border-radius: 100px;
  font-weight: 600;
  padding: 10px 20px;
}
.green-outline {
  background-color: #00a879;
  border-color: #008f67;
  color: #fff;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  outline: 0!important;
}
.comments-right, .green-right {
  position: absolute;
  right: 1px;
  padding-top: 20px;
  padding-right: 20px;
}
.result-information {
  padding: 10px;
}

#block-seven-content > div > div.view-ghost-inspector-suite-reports > div.view-content > table > caption,
#block-seven-content > div > div.view-ghost-inspector-suite-dashboard > div.view-content > table > caption{
  font-size: large;
  padding: 5px;
  font-weight: bold;
}

.api-red {
  color: indianred;
}
.api-status-red {
  color: red;
}
.api-status-green {
  color: green;
}
